In [19]:
import pandas as pd

In [72]:
train = pd.read_csv('train.csv')
# Vamos substituir os codigos dos sexos por 0 e 1 
Gender={'male':0, 'female':1}
train.Sex=train.Sex.map(Gender)

In [73]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

train.describe

In [24]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [74]:
Y = train['Survived']

In [75]:
X = train[['PassengerId','Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
X['Age'] = X['Age'].fillna(0)

In [76]:
X.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch
0            1       3    0  22.0      1      0
1            2       1    1  38.0      1      0
2            3       3    1  26.0      0      0
3            4       1    1  35.0      1      0
4            5       3    0  35.0      0      0

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [77]:
seed =7

X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = seed)

In [67]:
import matplotlib.pyplot as plt


#plt.hist(X.Age)

In [68]:
import numpy as np
#np.any(np.isnan(X.Age))

In [80]:
modelo = LogisticRegression()


modelo.fit(X_train, Y_train)

result = modelo.score(X_test, Y_test)
print("Acurácia nos Dados de Teste: %.3f%%" % (result * 100.0))

Acurácia nos Dados de Teste: 73.094%

In [119]:
test = pd.read_csv("test.csv")
test = test[['PassengerId','Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
Gender={'male':0, 'female':1}
test.Sex=test.Sex.map(Gender)
test['Age'] = test['Age'].fillna(0)
test.head()

predicts = modelo.predict(test)
predicts

result = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived':predicts})
result.head()
result.to_csv('results.csv', index=False)